:root {
    --square_width: 8px;
    --square_height: 8px;

    --square_color_1: rgb(255, 69, 0);
    --square_color_2: rgb(0, 0, 0);
    --square_color_3: rgb(137, 141, 144);
    --square_color_4: rgb(156, 105, 38);
    --square_color_5: rgb(212, 215, 217);
    --square_color_6: rgb(255, 168, 0);
    --square_color_7: rgb(255, 255, 255);
    --square_color_8: rgb(129, 30, 159);
    --square_color_9: rgb(255, 153, 170);
    --square_color_10: rgb(36, 80, 164);
    --square_color_13: rgb(255, 214, 53);
    --square_color_15: rgb(0, 163, 104);
    --square_color_16: rgb(126, 237, 86);
    --square_color_11: rgb(54, 144, 234);
    --square_color_12: rgb(81, 233, 244);
    --square_color_14: rgb(180, 74, 192);
}


#place_canvas {
    width: calc(var(--square_width) * 151);
    height: calc(var(--square_height) * 121);
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.canvas_row {
    display: flex;
    height: var(--square_height);
}

.square {
    cursor: pointer;
    border-right: .01px solid #00000020;
    border-bottom: .01px solid #00000020;
    margin: 0;
    width: var(--square_width);
    height: var(--square_height);
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    box-sizing: border-box;
    
}

.square:hover {
    opacity: 0.7;
}

.square_color_1 {
    background-color: var(--square_color_1);
}

.square_color_2 {
    background-color: var(--square_color_2);
}

.square_color_3 {
    background-color: var(--square_color_3);
}

.square_color_4 {
    background-color: var(--square_color_4);
}

.square_color_5 {
    background-color: var(--square_color_5);
}

.square_color_6 {
    background-color: var(--square_color_6);
}

.square_color_7 {
    background-color: var(--square_color_7);
}

.square_color_8 {
    background-color: var(--square_color_8);
}

.square_color_9 {
    background-color: var(--square_color_9);
}

.square_color_10 {
    background-color: var(--square_color_10);
}

.square_color_11 {
    background-color: var(--square_color_11);
}

.square_color_12 {
    background-color: var(--square_color_12);
}

.square_color_13 {
    background-color: var(--square_color_13);
}

.square_color_14 {
    background-color: var(--square_color_14);
}

.square_color_15 {
    background-color: var(--square_color_15);
}

.square_color_16 {
    background-color: var(--square_color_16);
}
.info{
    color: black;
    position: absolute;
    background-color: white;
    font-family: monospace;
    z-index: 2;
    border-radius: 8px;
    height: 20px;
    font-size: 16px;
    width: 100px;
    pointer-events: none;
    text-align: center;
    border: solid 1px black;
    outline: solid 1px white;
}
